<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- link rel="icon" href="../../favicon.ico" -->

    <title><%= title %></title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />

    <!-- Custom styles for this template -->
    <link rel='stylesheet' href='/css/style.css' />

</head>

<body>
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <a class="nav-opt nav-link h4" href="/records">> Records</a>
        <div class="sidebar-sticky" style="padding-bottom: 100px;">
            <ul class="nav flex-column" >
                <% services.forEach(function (service) { %>
                    <li class="nav-item">
                        <% var uri = `http://${config.host}:8001/` %>
                        <a class="nav-link channel" href="#" id="<%= uri %>" ref="<%= service.e2eventservicereference %>" channel="<%= service.e2eventservicename %>|<%= service.e2eventtitle %>|<%= service.e2eventdescription %><%= service.e2eventdescriptionextended %>">
                            <b><%= service.e2eventservicename %></b><br>
                            <%= service.e2eventtitle %>
                        </a>
                    </li>
                <% }); %>
            </ul>
        </div>
    </nav>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2 channel-name">&nbsp</h1>
            <span class="event-title">&nbsp</span>
        </div>
        <div id='video'>
            <video id='player' style="width:100%" src="/stream/stream.m3u8" controls autoplay></video>
        </div>
        <span class="event-description">&nbsp</span>
    </main>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/js/jquery.min.js"></script>
<script src="/js/underscore.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/socket.io.js"></script>

<script src="/js/load.js"></script>

</body>
</html>
